.git
.github
.env
.env.*
!.env.example
node_modules
vendor
dist
public/build
public/hot
public/fonts
public/fonts-manifest.dev.json
storage/logs/*
storage/framework/views/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing
database/database.sqlite
.agents
.ai
.claude
.codex
